* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 254, 202);
    font-family: "Roboto", sans-serif;
}

a {
    font-size: .8rem;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    color: #4cfd2d;
}

ol {
    list-style-type: upper-alpha;
    color: #effd2d;
}

button {
    cursor: pointer;
}

header {
    padding: 1.4rem 4rem;
    background-color: rgb(0, 69, 108);
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-container {
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 75px;
}

main {
    margin-top: 7.5rem;
}

#text-tags-section {
    background: rgb(130, 130, 130);
    margin: 0 auto;
    color: #fefefe;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-heading {
    font-size: 2rem;
    text-align: center;
    margin: 1.2rem 0;
}

.tags-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.tag-container {
    border: 2px solid rgb(48, 48, 48);
    box-shadow: 3px 3px 3px rgb(80, 80, 80);
    padding: 2rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.internal-link {
    padding: .5rem .75rem;
    border-radius: .5rem;
    transition: all .6s ease-in-out;
}

.external-link {
    padding: .5rem .75rem;
    border-radius: .5rem;
    transition: all .6s ease-in-out;
}

.internal-link:hover,
.external-link:hover {
    background-color: #000;
    color: #fefefe;
    border-color: #fefefe;
    transition: all .6s ease-in-out;
}

#images-section {
    width: clamp(500px, 80%, 900px);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images-title {
    margin: 2rem 0;
    font-size: 2rem;
    color: #1d1d1d;
}

.images-container {
    width: 60%;
    padding: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.fig-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px black;
    border-radius: .8rem;
    padding: 2rem;
}

.fig-img {
    margin: 0 auto;
    width: 400px;
    height: 350px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: .8rem;
}

.fig-caption {
    margin-top: 1rem;
}

footer {
    padding: 2rem 6rem;
    background-color: rgba(0, 69, 108, 0.8);
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unordered-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

.list-item {
    margin: 0 0 .4rem .4rem;
}